*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #121212;
        /* Dark blackish background */
        color: #ffffff;
        /* White text for contrast */
        font-family: "Exo 2", sans-serif;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        overflow: hidden;
}

div#app{
    background: black;
    width: auto;
    height: 100vh;
    display: flex;
}

div.left{
    min-width: 66vw;
    height: 100vh;
    color: blanchedalmond; 
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.nowplaying{
    position: absolute;
    bottom: 10%;
    align-content: center;
    text-align: center;
    font-size: 30px;
    color: whitesmoke;
}
div.container{
    min-width: 34vw;
    height: 100vh;
    font-family: Roboto;
    font-style: normal;
    font-size: 48px;
    font-weight: bold;
}
div.right{
    width: auto;
    height: 33.4vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.inactiveMicrophone{
    background: radial-gradient(98.2% 98.2% at 50% 50%, #606060 0%, #000000 100%);
}
div.activeMicrophone{
    background: radial-gradient(98.2% 98.2% at 50% 50%, #FF0000 0%, #000000 100%);
}

div.inactiveAutomation{
    background: radial-gradient(98.2% 98.2% at 50% 50%, #01C701 0%, #000000 100%);
}
div.activeAutomation{
    background: radial-gradient(98.2% 98.2% at 50% 50%, #FF0000 0%, #000000 100%);
}
div.inactiveEOF{
    background: radial-gradient(98.2% 98.2% at 50% 50%, #00327c 0%, #000000 100%);
}
div.activeEOF{
    background: radial-gradient(98.2% 98.2% at 50% 50%, #0066ff 0%, #000000 100%);
}

#clock-container,
#countdown-container {
    position: absolute;
    text-align: center;
}

.innerClock {
    font-size: 2rem;
}

.time {
    font-size: 8rem;
}

.seconds {
    font-size: 5rem;
    margin-top: 0px;
}

.dot {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #555;
    /* Default dot color */
}

.hour-dot {
    width: 15px;
    height: 15px;
}

.second-dot {
    width: 10px;
    height: 10px;
}